body {
	background: #515151; 
	border: none;
}

.titulo {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin: 100px 0;
}

form {
	margin-top: 20px; 
}

form, #results {
	padding: 0 20px; 
}

.item {
	margin-bottom: 25px; 
}

.text-search{
	display: block;
    width: 50%;
    margin: 15px auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;	
}

.botao {
	display: block;
	width: 50%;
	margin: 0 auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botao:hover {
	background-color: #18b5a7;
	color: #fff;
}


/* Para telas até 959px (dispositivos e navegadores) */
@media only screen and (max-width: 959px) {
    .titulo{
        
    }
}

/* Para telas entre 768px e 959px (dispositivos e navegadores) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .titulo{
        font-size: 36px;
    }
}

/* Para telas de smartphones até 767px (dispositivos e navegadores) */
@media only screen and (max-width: 767px) {
    .titulo{
        font-size: 32px;
    }
}

/* Para telas de celulares entre 480px e 767px (dispositivos e navegadores) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .titulo{
        font-size: 28px;
    }
}

/* Para telas de celulares com tamanho máximo de 479px (devices and browsers) */
@media only screen and (max-width: 479px) {
    .titulo{
        font-size: 24px;
    }
}